.round {
	border-radius: 100%;
	width: 12px;
	height: 12px;
	cursor: pointer;
	transition: $short-animation;
	&:hover {
		filter: brightness(0.9);
	}
}
.red-button {
	background-color: $red-button;
}
.yellow-button {
	background-color: $yellow-button;
}
.green-button {
	background-color: $green-button;
}
