#arcadeWindow {
	max-width: 430px;
	z-index: 5;
	top: 5%;
	left: 73%;
	@include tablet-breakpoint {
		left: 43%;
	}
	@include mobile-breakpoint {
		top: 128px;
		width: unset;
		left: 15%;
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		.arcade-illustration {
			@extend .illustration-container;
		}
	}
}
