#themesWindow {
	width: 430px;
	.content {
		display: flex;
		flex-wrap: wrap;
		padding: 15px;
		.theme-illustration {
			width: 100px;
			text-align: center;
			margin-bottom: 10px;
			padding-top: 10px;
			img {
				width: 70px;
				height: 70px;
				object-fit: cover;
				border-radius: 7px;
				margin-bottom: 7px;
				-webkit-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.3);
				box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.3);
				transition: $short-animation;
				cursor: pointer;
				&:hover {
					transform: scale(1.03);
				}
			}
		}
	}
}
