@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

#floppyBird {
	position: absolute;
	h5 {
		font-family: "Press Start 2P", cursive;
		padding: 1.2rem 0;
		background: #4ec0ca;
		color: black;
		text-align: center;
		border-bottom: 2px solid black;
	}

	#floppyBirdCanvas {
		font-family: "Press Start 2P", cursive;
		user-select: none;
	}
	.hidden {
		display: none;
	}
}
