.navbar {
	display: flex;
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	padding: 5px;
	@extend .glass-background;
	border-radius: 7px;
	z-index: 99;
	@media screen and (max-width: 900px) {
		flex-direction: column;
		left: 15px;
		bottom: inherit;
		top: 50%;
		transform: translateY(-50%);
	}
	button {
		background: transparent;
		margin: 3px 5px;
		transition: $short-animation;
		border-radius: 7px;
		cursor: pointer;
		&:hover {
			transform: scale(1.09);
			background: rgba(0, 0, 0, 0.05);
		}
		&:focus {
			transform: scale(1.11);
			background: rgba(0, 0, 0, 0.1);
		}
		img {
			// ico
			width: 45px;
			height: 45px;
		}
	}
}
