.navbar {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	padding: 6px;
	@extend .navbar-background;
	border-radius: 7px;
	z-index: 9;
	button {
		background: transparent;
		margin: 3px 0;
		transition: $short-animation;
		border-radius: 7px;
		cursor: pointer;
		user-select: none;
		&:hover {
			transform: scale(1.09);
			background: rgba(0, 0, 0, 0.05);
		}
		&:focus {
			transform: scale(1.11);
			background: rgba(0, 0, 0, 0.1);
		}
		img {
			// ico
			width: 48px;
			height: 48px;
		}
	}
}
