.window {
	position: absolute;
	top: 10%;
	right: 10%;
	width: 80%;
	height: 80%;
	@extend .glass-background;
	border-radius: 7px;
	&-header-bar {
		position: relative;
		display: flex;
		align-items: center;
		height: 30px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.6);
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		&__buttons {
			display: flex;
		}
		&__title {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			cursor: default;
			user-select: none;
		}
	}
}

// header btn
.round {
	border-radius: 100%;
	width: 12px;
	height: 12px;
	margin-left: 6px;
	cursor: pointer;
	transition: $short-animation;
	&:hover {
		filter: brightness(0.9);
	}
}
.red-button {
	background-color: $red-button;
}
.yellow-button {
	background-color: $yellow-button;
}
.green-button {
	background-color: $green-button;
}

// yellow button effect
.bottom-window {
	top: 90vh;
	left: 15vw;
	width: 200px;
}
