.desktop-theme__matrix {
	animation: fade $theme-animation both;
	#matrixCanvas {
		background: black;
		position: absolute;
		top: 0;
		left: 0;
	}
	.logo {
		@extend .desktop-logo;
		filter: invert(31%) sepia(64%) saturate(1569%) hue-rotate(189deg) brightness(10%) contrast(96%);
	}
}
